.categories__title {
    background:  var( --theme-bgCategories);
    transition: background-color 1s;
    color: white;
    font-size: 16px;
    margin-top: -16px;
    position: absolute;
    padding-left: 30px;
    width: 100%;
  }