.main {
    background-color: #7b2cbf;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 110px;
    border-radius: 0px 0px 0px 0px;
  }
  
  .main__title {
    color: white;
    font-size: 25px;
  }