.main {
    background-color: var( --theme-bgSearch);
    transition: background-color 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 130px;
    border-radius: 0px 0px 0px 0px;
  }
  
  .main__title {
    color: white;
    font-size: 25px;
  }