/* radio */

.ThemeRadioContainer {
    display: flex;
    flex-direction: row;
    margin: 1em 0;
  }
  
  .ThemeRadioItem {
    margin: 5px;
  }
  
  .ThemeRadioItem input {
    cursor: pointer;
  }
  
  .ThemeRadioItem label:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  /* select */
  
  .ThemeSelect {
    margin: 1em 0;
    padding: 0.2em 0.3em;
    margin: 1em 0;
    width: 150px;
    font-weight: bold;
  }
  
  /* range */
  
  .ThemeRange {
    margin: 1em 0;
  }
  