/*
  La pseudo-clase root representa el elemento <html> que es la raíz
  de todo el documento html.
  En este caso declaramos unas variables css que por estar declaradas
  dentro de :root, serán visibles y accesibles por todo el documento.
*/

:root {
    /* Theme Dark A*/
    --dark-a1: linear-gradient(to left, #1a0235, #400781);
    --dark-a2: #280450;
    --dark-a3: linear-gradient(to left, #1a0235, #400781);
    --dark-a4: #3e087b4b;
  
    /* Dark B (https://colorhunt.co/palette/222831393e46ffd369eeeeee) */
    --dark-b1: linear-gradient(to left, #ff512f, #f09819);
    --dark-b2: #ff522f;
    --dark-b3: #f09819;
    --dark-b4: #f0961954;
  }
  
  .Brown {
    --theme-bgHeader: var(--dark-a1);
    --theme-bgSearch: var(--dark-a2);
    --theme-bgApp: var(--dark-a4);
    --theme-bgCategories: var(--dark-a3);
    --theme-bgFooter: var(--dark-a1);
    --theme-bgCarousel: var(--dark-a4);
  }
  
  .Summer {
    --theme-bgHeader: var(--dark-b1);
    --theme-bgSearch: var(--dark-b2);
    --theme-bgApp: var(--dark-b4);
    --theme-bgCategories: var(--dark-b3);
    --theme-bgFooter: var(--dark-b1);
    --theme-bgCarousel: var(--dark-b4);
  }
  